* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: whitesmoke;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-weight: bolder;
    font-size: 3rem;
    padding: 5px;
}

p {
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 5px;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../images/background.jpg)no-repeat center center/cover;
    box-shadow: 0px 0px 250px 80px rgba(0, 0, 0, 1) inset,
        25px 0px 20px -20px rgba(0, 0, 0, 0.45) inset,
        0px 25px 20px -20px rgba(0, 0, 0, 0.45) inset,
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45) inset;
}

.showcase-top {
    position: relative;
    height: 90px;
}

.showcase-top img {
    width: 160px;
    position: absolute;
    top: 50%;
    left: 17.6%;
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 8%;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    text-align: center;
    transform: translate(0%, 60%);
}

.btn {
    display: inline-block;
    background-color: rgb(236, 7, 7);
    padding: 0.4rem 1.3rem;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    margin-left: 0.5rem;
    cursor: pointer
}

.btn:hover {
    background-color: rgb(206, 11, 11);
    transition-duration: 0.5s;
}

.btn-xl {
    font-size: 1.5rem;
    padding: 1.0rem 2.1rem;
    transform: translate(93%, 0%);
}

.input-field input[type="text"] {
    width: 30%;
    padding: 1.0rem;
    padding-right: 20px;
    outline: none;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #ffffff69;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.822);
    color: #ffffff;
    font-size: 20px;
    transform: translate(-30%, -98.5%);
    transition-property: top, 1rem, 1.5; /*font-size, line-height*/
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.9, 0, 0,51, 1);
}

::-moz-placeholder {
    color: white;
}